<li>
	<h2>
		管理界面
	</h2>
	<ul>		
			<li>
				<%=link_to '賽事資訊', :controller=>"admin"%>
			</li>
			<li>
				<%=link_to '總錦標積分', :controller=>"championship"%>
			</li>
			<li>
				<%=link_to '賽況更新', :controller=>"reports"%>
			</li>
	</ul>
</li>