<div class="post"><div class="post-bgtop-champ"><div class="post-bgbtm">
			<h2 class="title"><a href="#">
				小狗青蛙一條心 梅竹絕對不能停
			</a></h2>

			<div class="entry">
				<p>	2012/3/4晚上，壬辰梅竹閉幕式結束後，不能說得上是世仇但是絕對是看不順眼、互不相讓的清大梅竹工作會（梅工）與交大梅竹後援會（梅後）、清大火力班與交大火力班，聯手響應清大學生會與交大學聯會發起的梅竹祈福儀式。清交兩校火力班聯口並非首見，但是絕對不常見。兩校學生聯手喊出我們唯一的願望「小狗青蛙一家親、梅竹絕對不能停」，其中雖然清大與交大的梅竹代表吉祥物分別是熊貓與狐狸，但是在對方眼中則分別被譏為青蛙與野狗。兩方都放低姿態，連夜串聯、極力奔走，唯一的願望就是希望今年梅竹的憾事不要再上演，梅竹賽可以再辦一百年！</p>
				

			</div>	
			<div class="entry">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/FI4QieOyal8" frameborder="0" allowfullscreen></iframe>
			</div>
</div></div></div>



<div class="post"><div class="post-bgtop-champ"><div class="post-bgbtm">
			<h2 class="title"><a href="#">
				梅竹祈福：交通大學校歌標
			</a></h2>

			<div class="entry">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/iiUzNEvC60I" frameborder="0" allowfullscreen></iframe>
				

			</div>	
</div></div></div>

<div class="post"><div class="post-bgtop-champ"><div class="post-bgbtm">
			<h2 class="title"><a href="#">
				梅竹祈福：海鷗‧K領唱清華大學校歌
			</a></h2>

			<div class="entry">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/UfJRGdjsde8" frameborder="0" allowfullscreen></iframe>
				

			</div>	
</div></div></div>

<div class="post"><div class="post-bgtop-champ"><div class="post-bgbtm">
			<h2 class="title"><a href="#">
				海鷗‧K演唱「我相信我的未來不是夢」
			</a></h2>

			<div class="entry">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/B6xS-cjSR68" frameborder="0" allowfullscreen></iframe>
				

			</div>	
</div></div></div>