<div class="post"><div class="post-bgtop-champ"><div class="post-bgbtm">
			<h2 class="title"><a href="#">
				2012壬辰梅竹總錦標
			</a></h2>

			<div class="entry">
				<table>
					<tr>
						<td>
							清華大學 NTHU
						</td>
						<td>
							交通大學 NCTU
						</td>
					</tr>
					<tr>
						<td><%=h @nthu %></td>
						<td><%=h @nctu %></td>
					</tr>		
				</table>	
				

			</div>	
</div></div></div>
