<li>
	<h2>為自己的學校加油！ </h2>
	<ul>		
		
		<li>
			<%=link_to '梅竹龐達熊', 'http://www.facebook.com/meichuwin', :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '國立交通大學梅竹後援會', 'http://www.facebook.com/nctu.meichu?ref=ts', \
			:target=>"_blank" %>
		</li>
		<li>
			<%=link_to '梅竹龐達熊 Google+', 'https://plus.google.com/103356288820212098675/posts',\ :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '國立交通大學梅竹後援會 Google+', 'https://plus.google.com/117050565485673718637/posts',\
			 :target=>"_blank" %>
		</li>
		
	</ul>
</li>