<% unless current_page?(:action=>"live") %>
<li>
	<h2>
		管理界面
	</h2>
	<ul>		
			<li>
				<%=link_to '賽事資訊', :controller=>"admin"%>
			</li>
			<li>
				<%=link_to '總錦標積分', :controller=>"championship"%>
			</li>
			<li>
				<%=link_to '賽況更新', :controller=>"reports"%>
			</li>
	</ul>
</li>
<% end %>
<li>
	<h2>
		壬辰梅竹即時賽況
	</h2>
	<ul>
			<% for game in @live_games %>
				<li>
					<%=link_to game.title, :id=>game.id %>
				</li>
			<% end %>
	</ul>
</li>